*{
    padding: 2px 2px 1px 5px;
}

body {
    background-image: linear-gradient(315deg, rgba(93, 203, 141, 1) 0%, rgba(122, 116, 87, 1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Mali', cursive;
}

input, textarea {
    background-color: white;
}

.paragraph {
    display: flex;
    flex-direction: row-reverse;
    justify-content:space-around
}